absl-py
anyio
appnope
argon2-cffi
argon2-cffi-bindings
astor
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blosum==2.0.2
certifi
cffi
charset-normalizer
click
cloudpickle
cycler
Cython
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
fastjsonschema
fsspec
gast
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter_core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
mistune
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
openslide-python
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pipdeptree
pkgutil_resolve_name
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pycparser
pycurl
Pygments
pyparsing
pyre-extensions
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
requests
scikit-learn
scipy
Send2Trash
setuptools
six
sniffio
soupsieve
tensorboard
tensorflow-estimator
tensorflow
termcolor
terminado
testpath
tinycss2
torch
torcheval
torchtnt
torchvision
tornado
tqdm
traitlets
typing_extensions
typing-inspect
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
zipp
